
/* Pagina index.html */

.margen_input{ /* modifique el tamaño de margen de los input */
    margin: auto;
    margin-left:20px;
    
}
.input-index{
    color: #fff;   
    background-color: #ff695f;
    border-color: #ff695f;
}

header{
    border-radius: 20px 20px 0px 0px;
    background-color: #ff695f;
}

#imgLogo{
    margin: 10px;
}


/* Pagina registro.html */

.contenedor{  /*Clase contenedor */
    margin: 50px auto;
    width:30%;
    /*padding:30px;*/
    background: whitesmoke;
    border-radius: 15px;
}

.contenedor h2{     /* Caracteristicas de un elemento (h2) dentro de una clase (contenedor)*/
    /*margin:10px 10px 30px;*/
    padding:10px;
    font-size:30px;
    color: black;
    text-align: center;
    background-color: #ff695f;
    border-radius: 20px 20px 0px 0px;
}

.contenedor .elemento label{ /* Color texto de los labels */ 
    color:black;
    padding:30px;
}

.contenedor .elemento input{ /* Caracteristicas cajones imput */ 
    width: 80%;
    padding:10px;
    color:white;
    background: gray;
    border:none;
    border-bottom: 1px solid white;
    margin-left: 15px;
    margin-bottom:30px;
    border-radius: 10px;
}

.contenedor .elemento input[type="submit"]{  /* Caracteristicas del boton Registrar*/ 
    width: 50%;
    background-color:#ff695f;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-left: 25%;
    color:black;
}